.form-group{margin-left: 348px;}
.outnav{    background-color: rgba(146,145,186,1); height: 100px;}
.container-fluid{padding-top: 37px;font-weight: 800;letter-spacing: 2px;}
.navbar-inverse{background: #474646;}
.innerlogo{height: 200px;}
.logo{float: right;width: 361px;margin-top: 0px;}
body{background: slateblue; position: relative}


 
.banner{height: 290px;width: 100%;background: yellowgreen;margin:auto;}
.bannerh1{width: 591px;margin: 0 auto;height: 37px;padding-top: 111px;font-size: 65px;font-family: fantasy;letter-spacing: 23px;}


.main-content{}
.m-c-img1{ float: right;margin-right: 52px;}
.m-c-cont1{}
.cont1{	width: 1222px;
	font-size: 21px;
	margin-left: 10px;
	margin: 15px 0px 19px 85px;
	color: #000;
	height: 275px;
	font-weight: 600;
	background: #cdcbcb;	padding: 10px 0px 0px 20px;}
.cont1-1{font-size: 38px;font-family: fantasy;letter-spacing: 11px;font-weight: 100;}


.footer{background: #474646;height: 218px;color: white;}
.faddress{width: 500px;display: inline-block;margin-left: 10px;}
.footerh1{font-size: 31px;font-weight: 700;letter-spacing: 8px;}
.footerh2{font-size: 18px;font-weight: 600;word-spacing: 5px;}
.fc{width: 500px;float: right;margin-top: 0px;}
.innerfooter{width: 1010px;margin: 0 auto;}
.ilogo{width: 46px;margin-right: 10px;}
.f{font-weight: 600;font-size: 28px;color: dodgerblue;FONT-FAMILY: cursive;}
.fname{FONT-WEIGHT: 600;letter-spacing: 3px;margin-bottom: 19px;font-size: 32PX;FONT-FAMILY: none;}
.Wn{font-size: 23px;font-weight: 600;FONT-FAMILY: none;}
.insta{margin-top: 47px;margin-bottom: 16px;}S