.form-group{margin-left: 348px;}
.outnav{    background-color: rgba(146,145,186,1); height: 100px;}
.container-fluid{padding-top: 37px;font-weight: 800;letter-spacing: 2px;}
.navbar-inverse{background: #474646;}
.innerlogo{height: 200px;}
.logo{float: right;width: 361px;margin-top: 0px;}
body{background: slateblue; position: relative}


 


.cone-content{margin-top: 213px;width: 1000px;margin-left: 276px;margin-bottom: 10px;}
.cccontent{width: 579px;float: right;margin-right: 93px;margin-top: 109px;}
.cone{margin-left: 51px;}
.cch1{font-size: 55px;font-weight: 600;letter-spacing: 6px;}
.cch3{font-size: 19px;font-weight: 700;word-spacing: 3px;}

.imgs{margin-left: 82px;margin-right: 82px;margin-top: 20px;margin-bottom: 20px;}
.img{background: white;margin-top: 20px;margin-bottom: 20px;}



.contents{background: #ff89aa;MARGIN-BOTTOM: 4PX;height: 335px;}
.cont1{margin: 0 auto;}
.cimg{padding-top: 25px;width: 90px;margin: 0 auto;}
.ch12{font-size: 55px;font-weight: 600;letter-spacing: 6px;width: 285px;margin: 0 auto;padding-top: 10px;}
.ch32{font-size: 19px;font-weight: 700;word-spacing: 3px;margin-left: 51px;}

.contents2{background: #f0ce9c;margin-bottom: 4px;margin-left: 483px;height: 335px;}

.ch13{font-size: 55px;font-weight: 600;letter-spacing: 6px;width: 1020px;margin: 0 auto;padding-top: 10px;/* margin-right: 87px; */}
.contents3{background: #6fa362;margin-bottom: 4px;height: 335px;}

.contents4{background: #9bbefc;margin-bottom: 60px;margin-left: 484px;height: 335px;MARGIN-TOP: -29PX;}
.ch14{font-size: 55px;font-weight: 600;letter-spacing: 6px;width: 900px;margin: 0 auto;margin-top: 6px;}
.cont4{width: 1000px;margin: 0 auto;margin-top: 33px;}





.footer{background: #474646;height: 218px;color: white;}
.faddress{width: 500px;display: inline-block;margin-left: 10px;}
.footerh1{font-size: 31px;font-weight: 700;letter-spacing: 8px;}
.footerh2{font-size: 18px;font-weight: 600;word-spacing: 5px;}
.fc{width: 500px;float: right;margin-top: 0px;}
.innerfooter{width: 1010px;margin: 0 auto;}
.ilogo{width: 46px;margin-right: 10px;}
.f{font-weight: 600;font-size: 28px;color: dodgerblue;FONT-FAMILY: cursive;}
.fname{FONT-WEIGHT: 600;letter-spacing: 3px;margin-bottom: 19px;font-size: 32PX;FONT-FAMILY: none;}
.Wn{font-size: 23px;font-weight: 600;FONT-FAMILY: none;}
.insta{margin-top: 47px;margin-bottom: 16px;}