.form-group{margin-left:348px;}
.outnav{    background-color: rgba(146,145,186,1); height: 100px;}
.container-fluid{padding-top: 37px;font-weight: 800;letter-spacing: 2px;}
.navbar-inverse{background: #474646;}
.innerlogo{height: 200px;}
.logo{float: right;width: 361px;margin-top: 0px;}
body{background: slateblue; position: relative}


 
.banner{height: 290px;width: 100%; background: yellowgreen; margin:auto;}
.bannerh1{ width: 432px; margin: 0 auto; height: 37px; padding-top: 111px; font-size: 65px; font-family: fantasy; letter-spacing: 23px;}

.produtc-img{margin-bottom: 20px;margin-top: 20px;}
.p-img{height: 187px;margin-right: 75px;margin-left: 75px;}

.produtc-content1{background: YELLOWGREEN;margin-bottom: 20px;}
.pro1h1{background: white;width: 743px;margin-left: -201px;}
.pro1{  width: 50%; float: right;}
.pro1h1-1{ width: 346px; margin: 0 auto; font-family: fantasy; letter-spacing: 5px;}
.pro1h1-2{width: 210px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.innerpro1{  width: 357px; margin: 0 auto;}
.pro2{ width: 50%; }
.pro1h1-4{width: 346px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-3{width: 288px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.proimg5{ height: 264px; margin-bottom: 111px;}
.pro1h1-5{width: 348px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-6{width: 101px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-7{width: 319px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-8{width: 388px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-9{width: 330px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}
.pro1h1-10{width: 342px;margin: 0 auto;font-family: fantasy;letter-spacing: 5px;}






.footer{background: #474646;height: 218px;color: white;}
.faddress{width: 500px;display: inline-block;margin-left: 10px;}
.footerh1{font-size: 31px;font-weight: 700;letter-spacing: 8px;}
.footerh2{font-size: 18px;font-weight: 600;word-spacing: 5px;}
.fc{width: 500px;float: right;margin-top: 0px;}
.innerfooter{width: 1010px;margin: 0 auto;}
.ilogo{width: 46px;margin-right: 10px;}
.f{font-weight: 600;font-size: 28px;color: dodgerblue;FONT-FAMILY: cursive;}
.fname{FONT-WEIGHT: 600;letter-spacing: 3px;margin-bottom: 19px;font-size: 32PX;FONT-FAMILY: none;}
.Wn{font-size: 23px;font-weight: 600;FONT-FAMILY: none;}
.insta{margin-top: 47px;margin-bottom: 16px;}